.app-container {
  display: flex;
  justify-content: space-between;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust this value for number of cards per row */
  gap: 10px;
}

.StateCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.park-details {
  margin-left: 20px;
  flex-grow: 1;
}
